.vc {
    margin-top: 40px;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.vc>textarea {
    width: 80%;
    height: 60px;
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 5px;
    margin-top: 20px;
}

.texto>textarea {
    width: 600px ;
    border: 1px solid rgba(141, 141, 141, 0.479);
    border-radius: 5px;
    margin: 10px;
    height: 530px;
}

.texto {
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 30px;
}

h1 {
    color: aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h5 {
    margin-top: 7px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.oioi {
    width: 250px;
    height: 40px;
    border-radius: 2px;
}

@media (max-width: 500px) {
    .vc {
        margin-top: 40px;
        width: 90%;
        height: 100px;
        display: flex;
        justify-content: center;
    }
    
    .vc>textarea {
        width: 80%;
        height: 60px;
        border: 1px solid rgba(128, 128, 128, 0.479);
        border-radius: 5px;
        margin-top: 20px;
    }
    
    .texto>textarea {
        width: 600px ;
        border: 1px solid rgba(141, 141, 141, 0.479);
        border-radius: 5px;
        margin: 10px;
        height: 530px;
    }
    
    .texto {
        display: flex;
        justify-content: center;
    }
    
    .footer {
        width: 100%;
        height: 30px;
    }
    
    h1 {
        color: aliceblue;
        font-family: Helvetica, Arial, sans-serif;
        text-align: center;
    }
    
    h5 {
        margin-top: 7px;
    }
    
    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .oioi {
        width: 250px;
        height: 40px;
        border-radius: 2px;
    }
}    