@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

.oioi {
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

.footer {
    width: 100%;
    height: 30px;
}

h5 {
    margin-top: 7px;
}

h6 {
   font-size: 20px;
   text-align: center;
   font-family: 'Roboto Slab', serif; 
}

.titulo {
    margin-top: 20px;
}

.main {
    width: 100%;
    height: 100%;
}

.text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.texto {
    display: flex;
    width: 95%;
    height: 640px;
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 5px;
    margin-top: 20px;
}