* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.vc {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.meio {
    height: 100%;
    width: 100%;
}

.vc>textarea {
    width: 40%;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 5px;
}

.filter {
    width: 250px;
    height: 41px;
    background-image: linear-gradient(to bottom, rgb(65, 8, 65), rgb(151, 11, 151));
    border-radius: 5px;
    justify-content: space-around;
    display: flex;
    box-shadow: 1px 1.5px 1px rgb(182, 182, 182);
}

.lupa {
    filter: invert(100%);
    margin-top: 7px;
}

input::placeholder {
    color: #fff;
}

.inp {
    background-image: linear-gradient(to bottom, rgb(65, 8, 65), rgb(151, 11, 151));
    width: 200px;
    border: none;
}

.corpo {
    
}

.coments {
    display: flex;
    width: 40%;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.enviar {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    align-self: end;
}

.curtir {
    align-self: end;
    margin-left: 10px;
    margin-bottom: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, rgb(10, 10, 10), purple);
    color: white;
    text-align: center;
}

#compromisso {

    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 40px;
    margin: 10px;
}

#add {
    border: box;
    background: none;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.importante {
    border: none;
    background: none;
    /* background-image: url(../assets/alert.png); */
    background-size: cover;
    width: 35px;
    height: 35px;
    margin: 5px;
    cursor: pointer;
}

.excluir {
    border: box;
    background: none;
    /* background-image: url(../assets/trash.png); */
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}


.redes {
    color: white;
    border-radius:8px;
    transition: 1s;
}

.redes:hover,
.redes:focus {
    background: rgb(212, 0, 255);

}

.btns {
    border: 1px solid rgba(0, 0, 0, 0.699);
    border-radius: 5px;
    justify-content: space-around;
    display: flex;
    background-color: none;

}

#divContent{
    overflow:auto; 
}

#compromisso {
    width: 300px;
    height: 150px;
    display: flex;
}

@media (max-width: 500px) {
    .vc {
        margin-top: 20px;
        width: 90%;
        height: 200px;
    }

    .filter {
        width: 250px;
        height: 41px;
        background-image: linear-gradient(to bottom, rgb(65, 8, 65), rgb(151, 11, 151));
        border-radius: 5px;
        justify-content: space-around;
        display: flex;
        box-shadow: 1px 1.5px 1px rgb(182, 182, 182);
    }

    .lupa {
        filter: invert(100%);
        margin-top: 7px;
    }

    input::placeholder {
        color: #fff;
    }

    .inp {
        background-image: linear-gradient(to bottom, rgb(65, 8, 65), rgb(151, 11, 151));
        width: 200px;
        border: none;
    }

    .vc>textarea {
        width: 100%;
        height: 150px;
        border: 1px solid rgba(128, 128, 128, 0.479);
        border-radius: 5px;
    }

    .coments {
        display: flex;
        width: 90%;
        height: 150px;
        border: 1px solid rgba(128, 128, 128, 0.479);
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .curtir {
        align-self: end;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 200px;
        background-image: linear-gradient(to bottom, rgb(10, 10, 10), purple);
        color: white;
        text-align: center;
    }
}