* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.vc {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.model {
    display: none;
}

.meio {
    height: 100%;
    width: 100%;
}

.vc>textarea {
    width: 40%;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 3px;
}

.filter {
    width: 250px;
    height: 41px;
    background-image: linear-gradient(to bottom, rgb(65, 8, 65), rgb(151, 11, 151));
    border-radius: 5px;
    justify-content: space-around;
    display: flex;
    box-shadow: 1px 1.5px 1px rgb(182, 182, 182);
}

.lupa {
    filter: invert(100%);
    margin-top: 7px;
    margin-right: 400px;
    
}

input::placeholder {
    color: #fff;
}


.btns {
    margin-bottom: 20px;
    padding: 5px;
}

.inp {
    background-image: linear-gradient(to bottom, rgb(65, 8, 65), rgb(151, 11, 151));
    width: 200px;
    border: none;
}

.coments {
    display: flex;
    width: 40%;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.enviar {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    align-self: end;
}

.curtir {
    align-self: end;
    margin-left: 10px;
    margin-bottom: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, rgb(10, 10, 10), purple);
    color: white;
    text-align: center;
}

#compromisso {

    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 40px;
    margin: 10px;
}

#add {
    border: box;
    background: none;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.importante {
    border: none;
    background: none;
    /* background-image: url(../assets/alert.png); */
    background-size: cover;
    width: 35px;
    height: 35px;
    margin: 5px;
    cursor: pointer;
}

.excluir {
    border: box;
    background: none;
    /* background-image: url(../assets/trash.png); */
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}


.redes {
    color: white;
    border-radius:8px;
    transition: 1s;
}

.redes:hover,
.redes:focus {
    background: rgb(212, 0, 255);

}

.btns {
    border: 1px solid rgba(0, 0, 0, 0.699);
    border-radius: 5px;
    justify-content: space-around;
    display: flex;
    background-color: none;

}

#divContent{
    overflow:auto; 
}

#compromisso {
    width: 300px;
    height: 150px;
    display: flex;
}

@media (max-width: 500px) {
    .vc {
        margin-top: 20px;
        width: 90%;
        height: 200px;
    }

    .filter {
        width: 250px;
        height: 41px;
        background-image: linear-gradient(to bottom, rgb(65, 8, 65), rgb(151, 11, 151));
        border-radius: 5px;
        justify-content: space-around;
        display: flex;
        box-shadow: 1px 1.5px 1px rgb(182, 182, 182);
    }

    .lupa {
        filter: invert(100%);
        margin-top: 7px;
    }

    input::placeholder {
        color: #fff;
    }

    .inp {
        background-image: linear-gradient(to bottom, rgb(65, 8, 65), rgb(151, 11, 151));
        width: 200px;
        border: none;
    }

    .vc>textarea {
        width: 100%;
        height: 150px;
        border: 1px solid rgba(128, 128, 128, 0.479);
        border-radius: 5px;
    }

    .coments {
        display: flex;
        width: 90%;
        height: 150px;
        border: 1px solid rgba(128, 128, 128, 0.479);
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .curtir {
        align-self: end;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 200px;
        background-image: linear-gradient(to bottom, rgb(10, 10, 10), purple);
        color: white;
        text-align: center;
    }
}



main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    /* pointer-events: none; */
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }

  div.item>img{
    width: 100%;
    height: 100%;

  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 5;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 6;
  }

  .model{
    display:none;
  }
